include ./menus
include ./manageAssets
include ./statusbar
include ./3DRIntegration
include ./toolbar
include ./EntityLibrary
include ./scripteditor

mixin editorTools_head
	+menus_head
	+toolbar_head
	+manageAssets_head
	+statusbar_head
	+3DRIntegration_head
	+EntityLibrary_head
	+scripteditor_head

mixin editorTools_body

	#toolbarLevel.verticalLayout(style='display: none;')
		+menus_body
		+toolbar_body

		#panelLevel.horizontalLayout
			+EntityLibrary_body

			#editorLevel.verticalLayout
				#vwf-root
					canvas#index-vwf.vwf-scene(width='100', height='100')
					#glyphOverlay(style='display: none;')
					iframe#resizer(href='about:blank', frameborder='0')

				+scripteditor_body

		+statusbar_body
		
	+3DRIntegration_body
	+manageAssets_body
