include ./menus
include ./manageAssets
include ./statusbar

mixin editorTools_head
	+menus_head
	+manageAssets_head
	+statusbar_head

mixin editorTools_body
	+menus_body
	+manageAssets_body
	+statusbar_body
