include ./menus
include ./manageAssets
include ./statusbar
include ./3DRIntegration

mixin editorTools_head
	+menus_head
	+manageAssets_head
	+statusbar_head
	+3DRIntegration_head

mixin editorTools_body
	+menus_body
	+manageAssets_body
	+statusbar_body
	+3DRIntegration_body
