doctype html
html
	head
		style.
			html, body {
				margin: 0;
				padding: 0;
				height: 100%;
			}
			.horizontalLayout {
				display: flex;
				flex-direction: row;
				height: 100%;
			}
			.verticalLayout {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
			.fixed {
				flex-grow: 0;
				flex-shrink: 0;
				border: dashed black 1px;
			}
			#resizer {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				pointer-events: none;
				z-index: -1;
			}
			
		script.
			function resize(elem){
				elem.contentDocument.defaultView.addEventListener('resize', function(){
					console.log('Resized!');
				});
			}
			
	body.verticalLayout
		
		#menu.fixed(style='height: 16px;') Menu
		#toolbar.fixed(style='height: 40px;') Toolbar
		
		.horizontalLayout
			#library.fixed(style='width: 250px;') Library
			
			.verticalLayout
				#vwf-root(style='position: relative; flex-grow: 1;') VWF Root
					iframe#resizer(href='about:blank', frameborder='0', onload='resize(this)')
				#scripts.fixed(style='height: 250px;') Scripts
			
			#properties.fixed(style='width: 250px;') Properties
		
		#statusbar.fixed(style='height: 16px;') Status bar
