mixin menus_head
	block

mixin menus_body

	#toolbar
	#smoothmenu1.ddsmoothmenu(ng-controller='MenuController', style="display: none; z-index: 100; position: fixed; width: 100%; border-bottom: 1px solid #666666;"): ul
		li
			a#MenuFile File
			ul
				li(ng-class='{"disabled": loggedIn}'): a#MenuLogIn
					.glyphicon.glyphicon-log-in
					| Log In
				li(ng-class='{"disabled": !loggedIn}'): a#MenuLogOut
					.glyphicon.glyphicon-log-out
					| Log Out
				li: a#MenuSaveNow
					.glyphicon.glyphicon-floppy-disk
					| Save Now
				li(ng-class='{"disabled": isExample}'): a#MenuShareWorld
					.glyphicon.glyphicon-share
					| Share
				li(ng-class='{"disabled": isExample || !userIsOwner}'): a#SetThumbnail
					.glyphicon.glyphicon-picture
					| Set World Thumbnail
				li(ng-class='{"disabled": isExample || !userIsOwner}'): a#TestSettings
					.glyphicon.glyphicon-globe
					| World Settings (ctrl+9)
				li: a#TestLaunch
					.glyphicon.glyphicon-play
					| Play World (ctrl+0)

		li
			a#MenuEdit Edit
			ul
				li: a#MenuUndo
					.glyphicon.glyphicon-share-alt
					| Undo (ctrl-z)
				li: a#MenuRedo
					.glyphicon.glyphicon-share-alt
					| Redo (ctrl-y)
				li(style='border-bottom: 3px solid gray')

				li(ng-class='{"disabled": !selection}'): a#MenuCopy
					.glyphicon.glyphicon-share-copy
					| Copy (ctrl-c)
				li: a#MenuPaste
					.glyphicon.glyphicon-share-paste
					| Paste (ctrl-v)
				li(ng-class='{"disabled": !selection}'): a#MenuDuplicate
					.glyphicon.glyphicon-share-duplicate
					| Duplicate (ctrl-s)
				li(ng-class='{"disabled": !selection}'): a#MenuDelete
					.glyphicon.glyphicon-share-trash
					| Delete (del)
				li(style='border-bottom: 3px solid gray')

				li: a#MenuShare
					.glyphicon.glyphicon-share-share
					| Set Permissions
				li
					a#MenuSelect Select
					ul
						li: a#MenuSelectName
							.glyphicon.glyphicon-list
							| Select By Name
						li: a#MenuSelectPick
							.glyphicon.glyphicon-screenshot
							| Pick (q)
						li: a#MenuSelectNone
							.glyphicon.glyphicon-unchecked
							| Select None
						li: a#MenuSelectScene
							.glyphicon.glyphicon-film
							| Select Scene

				li
					a#MenuTransforms Transform
					ul
						li: a#MenuMove
							.glyphicon.glyphicon-move
							| Move (w)
						li: a#MenuRotate
							.glyphicon.glyphicon-repeat
							| Rotate (e)
						li: a#MenuScale
							.glyphicon.glyphicon-fullscreen
							| Scale (r)
						li: a#MenuMulti
							.glyphicon.glyphicon-screenshot
							| Multi (t)
						li(style='border-bottom: 3px solid gray')

						li: a#MenuLocal Local Coords
						li: a#MenuWorld World Coords
						li(style='border-bottom: 3px solid gray')

						li
							a#MenuSnaps Snaps
							ul
								li: a#MenuSnapLarge Large
								li: a#MenuSnapMedium Medium
								li: a#MenuSnapSmall Small
								li: a#MenuSnapOff Off
						li(style='border-bottom: 3px solid gray')
						li(style='z-index: 100'): a#ResetTransforms Reset Transforms

		li
			a#MenuCamera Camera
			ul
				
				li(ng-class='{"disabled": !selection}'): a#MenuFocusSelected
					.glyphicon.glyphicon-screenshot
					| Focus Selected
				li
					a Camera Sharing
					ul
						li: a#MenuCameraShare
							.glyphicon.glyphicon-share
							| Share Camera View
						li: a#MenuCameraReceive
							.glyphicon.glyphicon-share
							| Receive Camera Broadcasts
						li: a#MenuCameraReceive Cancel
							.glyphicon.glyphicon-share
							| Stop Receiving Camera Broadcasts

				li: a#MenuActivateCamera
					.glyphicon.glyphicon-video
					| Activate Camera
				li
					a#MenuDefaultCameras
						.glyphicon.glyphicon-new-window
						| Default Cameras
					ul
						li: a#MenuCameraOrbit Orbit
						li: a#MenuCameraFree Free
						li: a#MenuCamera3RDPerson Avatar View
						li: a#MenuCameraNavigate Navigate
						li: a#MenuCameraFly Fly
						li: a#MenuCameraDeviceOrientation DeviceOrientation

		li(ng-class='{"disabled": !selection}')
			a#MenuHierarchy Hierarchy
			ul
				li: a#MenuSetParent
					.glyphicon.glyphicon-link
					| Link
				li: a#MenuRemoveParent
					.glyphicon.glyphicon-link
					| Unlink
				li: a#MenuSelectParent
					.glyphicon.glyphicon-arrow-up
					| Select Parent
				li
					a#MenuGrouping Grouping
					ul
						li: a#MenuGroup
							.glyphicon.glyphicon-oil
							| Group
						li(ng-class='{"disabled": !isGroup}'): a#MenuUngroup
							.glyphicon.glyphicon-duplicate
							| Ungroup
						li(ng-class='{"disabled": !isGroup}'): a#MenuOpenGroup
							.glyphicon.glyphicon-resize-full
							| Open Group
						li(ng-class='{"disabled": !isGroup}'): a#MenuCloseGroup
							.glyphicon.glyphicon-resize-small
							| Close Group

		li
			a#MenuCreate Create
			ul
				li
					a#MenuPrimitives Primitives
					ul
						li: a#MenuCreateEmpty Empty
						li: a#MenuCreateSphere Sphere
						li: a#MenuCreateBox Box
						li: a#MenuCreatePlane Plane
						li: a#MenuCreateCylinder Cylinder
						li: a#MenuCreateCone Cone
						li: a#MenuCreateText Text
						li: a#MenuCreateTorus Torus
				li
					a#MenuShapes Shapes
					ul
						li: a#MenuCreateLine Line
						li: a#MenuCreateCircle Circle
						li: a#MenuCreateStar Star
						li: a#MenuCreateRectangle Rectangle
						li: a#MenuCreateLSection L Section
						li: a#MenuCreateTSection T Section
				li
					a#MenuModifiers Modifiers
					ul
						li: a#MenuCreateBend Bend
						li: a#MenuCreateTwist Twist
						li: a#MenuCreateTaper Taper
						li: a#MenuCreatePerlinNoise Perlin Noise
						li: a#MenuCreateSimplexNoise Simplex Noise
						li: a#MenuCreateOffset Offset
						li: a#MenuCreateStretch Stretch
						li: a#MenuCreatePush Push
						li: a#MenuCreateUVMap UVMap
						li: a#MenuCreateCenterPivot Center Pivot
						li: a#MenuCreateExtrude Extrude
						li: a#MenuCreatePathExtrude Path Extrude
						li: a#MenuCreateLathe Lathe
				li
					a#MenuBehaviors Behaviors
					ul
						li: a#MenuCreateBlankBehavior New Behavior
						li: a#MenuCreateBehaviorRotator Rotator
						li: a#MenuCreateBehaviorOrbit Orbit
						li: a#MenuCreateBehaviorHyperlink Hyper link
						li: a#MenuCreateBehaviorHoverlabel Hover label
						li: a#MenuCreateBehaviorPathFollow Path Follow
						li: a#MenuCreateBehaviorClampToGround Clamp To Ground
						li: a#MenuCreateBehaviorLookat LookAt
						li: a#MenuCreateBehaviorSeek Seek
				li
					a#MenuPhysics Physics
					ul
						li: a#MenuPhysicsPointConstraint Point Constraint
						li: a#MenuPhysicsHingeConstraint Hinge Constraint
						li: a#MenuPhysicsSliderConstraint Slider Constraint
						li: a#MenuPhysicsFixedConstraint Fixed Constraint
				li
					a#MenuLights Lights
					ul
						li: a#MenuCreateLightPoint Point
						li: a#MenuCreateLightSpot Spot
						li: a#MenuCreateLightDirectional Directional
				li
					a#MenuParticles Particles
					ul
						li: a#MenuCreateParticlesBasic Basic
				li
					a#MenuCameras Cameras
					ul
						li: a#MenuCreateCameraPerspective Perspective
				li
					a#Terrain Terrain
					ul
						li: a#MenuCreateTerrain Terrain
						li: a#MenuCreateTerrainGrass Grass
				li
					a#GUI GUI Elements
					ul
						li: a#MenuCreateGUIDialog Dialog
						li: a#MenuCreateGUIButton Button
						li: a#MenuCreateGUILabel Label
						li: a#MenuCreateGUISlider Slider
						li: a#MenuCreateGUICheck Checkbox
						li: a#MenuCreateGUIPanel Panel
						li: a#MenuCreateGUIImage Image

		li
			a#MenuAssets Assets
			ul
				li
					a#MenuAssetsSaveAs
						.glyphicon.glyphicon-save
						| Create New Asset
					ul
						li(ng-class='{"disabled": !selection}'): a#MenuAssetsSaveAsEntity
							.glyphicon.glyphicon-book
							| From Sel. Entity
						li(ng-class='{"disabled": !hasMaterial}'): a#MenuAssetsSaveAsMaterial
							.glyphicon.glyphicon-tint
							| From Sel. Material
						li(ng-class='{"disabled": !isBehavior}'): a#MenuAssetsSaveAsBehavior
							.glyphicon.glyphicon-cog
							| From Sel. Behavior
						li: a#MenuAssetsSaveAsFile
							.glyphicon.glyphicon-hdd
							| From File
				li(ng-class='{"disabled": !isEntityAsset || !isMaterialAsset}')
					a#MenuAssetsSave
						.glyphicon.glyphicon-floppy-save
						| Refresh Asset
					ul
						li(ng-class='{"disabled": !isEntityAsset}'): a#MenuAssetsSaveEntity
							.glyphicon.glyphicon-book
							| From Sel. Entity
						li(ng-class='{"disabled": !isMaterialAsset}'): a#MenuAssetsSaveMaterial
							.glyphicon.glyphicon-tint
							| From Sel. Material
						li(ng-class='{"disabled": !isEntityAsset || !isBehavior}'): a#MenuAssetsSaveBehavior
							.glyphicon.glyphicon-cog
							| From Sel. Behavior
				li: a#MenuManageAssets
					.glyphicon.glyphicon-cloud
					| Manage Your Assets
				li(style='border-bottom: 3px solid gray')

				li: a#MenuCreateLoadMeshURL
					.glyphicon.glyphicon-cloud-download
					| Load Mesh By URL
				li
					a#MenuAssets3DR 3DR
					ul
						li: a#MenuAssets3DRUpload
							.glyphicon.glyphicon-cloud-upload
							| Upload Mesh to 3DR
						li: a#MenuAssets3DRBrowse
							.glyphicon.glyphicon-tree-deciduous
							| Browse 3D Repository

		li
			a#MenuTools Tools
			ul
				li
					a#MenuLocation Location
					ul
						li: a#LocationGoToPosition Go to Position...
						li: a#LocationGoToPlacemark Go to Placemark...
						li: a#LocationAddPlacemark Add Placemark...
						li: a#LocationMoveToGround Move to ground
				li: a#MenuAlign
					.glyphicon.glyphicon-object-align-bottom
					| Align
				li: a#MenuBlockPainter
					.glyphicon.glyphicon-equalizer
					| Block Painter
				li: a#MenuSplineTools
					.glyphicon.glyphicon-pencil
					| Spline Tools
				li: a#ToolsShowID
					.glyphicon.glyphicon-console
					| Show ID
				li: a#ToolsShowVWF
					.glyphicon.glyphicon-console
					| Show VWF Entity Definition
				li: a#ToolsShowVWFSaveData
					.glyphicon.glyphicon-console
					| Show Sandbox Scene Definition

		li
			a#MenuWindows Windows
			ul
				li: a#MenuChat
					.glyphicon.glyphicon-comment
					| Chat
				li: a#MenuUsers
					.glyphicon.glyphicon-user
					| Users
				li: a#MenuMaterialEditor
					.glyphicon.glyphicon-tint
					| Material Editor
				li: a#MenuScriptEditor
					.glyphicon.glyphicon-console
					| Script Editor
				li: a#MenuObjectProperties
					.glyphicon.glyphicon-tasks
					| Object Properties
				li: a#MenuHierarchyManager
					.glyphicon.glyphicon-sort-by-attributes-alt
					| Show Hierarchy
				li: a#MenuPhysicsEditor
					.glyphicon.glyphicon-wrench
					| Physics Editor

		li
			a#MenuRendering Rendering
			ul
				li: a#MenuViewHideTools Hide Tools
				li: a#MenuViewToggleWireframe Toggle Wireframe
				li: a#MenuViewToggleBones Toggle Bone Display
				li: a#MenuViewGlyphs Toggle Glyphs
				li: a#MenuViewFullscreen Toggle Full Screen
				li: a#MenuViewTogglePhysics Toggle Physics Display
				li: a#MenuViewStats Toggle Stats
				li: a#MenuViewInterpolation Toggle Interpolation
				li: a#MenuViewOctree Toggle Octree Display
				li: a#MenuViewRenderNormal Normal Rendering
				li: a#MenuViewRenderStereo Stereo Rendering
				li: a#MenuViewRenderVR VR Rendering
				li: a#MenuViewTabletDemo Tablet Demo Mode

		li
			a#MenuHelp Help
			ul
				li: a#MenuHelpAbout About
				li: a#MenuHelpBrowse Browse All Topics...
				li: a#MenuLatencyTest Test Latency
				li
					a#MenuLanguage Language
					ul
						li: a#MenuEn English
						li: a#MenuRu Русский
						li: a#MenuEs_ES Español (España)

	br(style="clear: left")
		
